#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 95vh;
    aspect-ratio: 1 /1;
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
}

.newDiv {

    border: 1px solid black;
    aspect-ratio: 1 / 1;
    opacity: 0;
    background-color: black;

}